
<link rel="stylesheet" type="text/css" href="../stylesheets/style1.css">
<div class="container1">

<form action="/auth/forget" method="POST">
<div class="form-group">
  
 <h2><label for="email">Email:</label> </h2>
    
    <input type="text" class="form-control1" name="email" id="email">
  </div>
  <button class="">getlink</button>
</form>

</div>
